
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
     
        <li class="nav-item">

          <a class="nav-link" routerLink="emp-list">Employee List</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="structural">Structural Directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="atribute">Atribute Directives</a>
        </li>  


        <li class="nav-item">
          <a class="nav-link" routerLink="ifElse">if else</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="for">for</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="switch">switch</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="pipe">pipes</a>
        </li>  
       
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-4">
  

<router-outlet />
  <!-- <app-add-employee></app-add-employee> -->
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-data-binding></app-data-binding> -->
   <!-- <app-structural-directives></app-structural-directives> -->
     <!-- <app-atribute-directives></app-atribute-directives>  -->
</div>
