<p>if-else works!</p>


<div class="row">
    <div class="col-3 text-center">
 @if(isDiv1Visible){
    <div class="card bg-secondary mb-3">
        <h1 class="text-center" >Div 1</h1>
    </div>
 }

       
        <button class="btn btn-primary" (click)="showDiv1()" >Show</button>
        <span class="mr-5"> || </span>
        <button class="btn btn-danger" (click)="hideDiv1()" >Hide</button>
    </div>
    <div class="col-3 text-center">
    @if(isDiv2Visible){
        <div class="card bg-success">
            <h1 class="text-center" >Div 2</h1>
        </div>
    }@else {
        <div class="card bg-warning">
            <h1 class="text-center" >Div 2</h1>
        </div>
    }

        <button class="btn btn-primary"  (click)="toggleDiv()" >Toggle</button>
    </div>
    <div class="col-3 text-center">
        @if(num1 == num2){
            <div class="card">
                <h1 class="text-center" >Div 3</h1>
            </div>
        }

       
        <input type="text" placeholder="Num 1" [(ngModel)]="num1" >
        <input type="text" placeholder="Num 2" [(ngModel)]="num2">
    </div>
    <div class="col-3 text-center">
        <div class="card">
   @if(selectStatus == 'Active'){
    <p class="text-center" >Active</p>
   }@else if (selectStatus == 'Deactive'){
    <p class="text-center" >Deactive</p>
   }@else if(selectStatus == 'Pending'){
    <p class="text-center" >Pending</p>
   } @else {
    <p class="text-center" >Please Select Status</p>
   }

           
            
            
        </div>
        <select [(ngModel)]="selectStatus" > 
            <option value=""> Select Status</option>
            <option value="Active"> Active</option>
            <option value="Deactive"> Deactive</option>
            <option value="Pending"> Pending</option>
        </select>
     
    </div>
    <hr>
    <!-- <div class="col-3 text-center">
        <div class="card" *ngIf="selectedValue == '1' ">
            <h1 class="text-center" >Div 4</h1>
        </div>
        
        <select [(ngModel)]="selectedValue"> 
            <option value="1"> Option 1</option>
            <option value="2"> Option 2</option>
            <option value="3"> Option 3</option>
        </select>
    </div> -->
</div>


<hr/>
<hr/>
<!-- 
<div class="row">
    <div class="col-3">
        <ul >
            <li *ngFor="let cite of cityArray">{{cite}} </li>
        </ul>
    </div>
    <div class="col-3">
  <select>
    <option value="{{cityName}} " *ngFor="let cityName of cityArray"> {{cityName}} </option>
  </select>

    </div>


    <div class="col-3">
        <select>
            <option *ngFor="let stud of studentList" [value]="stud.studId"> {{stud.name}} </option>
        </select>
    </div>


    <div class="col-12">
        <table class="table tbale-border">
            <thead>
                <tr>
                <th>Sr.No</th>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>IsActive</th>
                
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stud of studentList; let srNo = index" >
                   <td> {{srNo +1 }} </td>
                    <td> {{stud.studId}} </td>
                   <td> {{stud.name}} </td>
                   <td> {{stud.city}} </td>
                   <td>
                    <span *ngIf="stud.isActive" >Active </span>
                    <span *ngIf="!stud.isActive">Deactive </span>
                ( {{stud.isActive}} )
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
